<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- CSS -->>
    <link rel="stylesheet" href="/css/styles.css">
     <!-- FontAwesone -->>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <section class="contenedor-logo-buscador-frase">
        <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar productos, marcas ...">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="frase">
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        </section>
    <nav>
        <ul class="lista-superior">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>   
        <ul class="lista-inferior">
            <li><a href="">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="">Ingresá<i class="fas fa-sign-in-alt "></i></a></li>
            <li><a href="">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
    </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>
<main class="home__productos">
    <img src="/images/img-home-banner.jpg" alt="Banner"width="100%">
    <section class="seccion__productos">
        <h4 class="seccion__productos--titulo" >Basado en tu última visita</h4>
        <article class="seccion__productos--titulo--tarjeta">
        <img  src="/images/img-cafetera-moulinex.jpg" alt=""width="100%">
            <section class="prueba">
            <div class="carrito">
                <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h5>Cafetera Moulinex</h5>
            </section>
         </article>
         <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-macbook-pro-2019.jpg" alt=""width="100%">
        <section class="prueba">
            <div class="carrito">
                <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p >
            <h5>MacBook Pro 2019<h5>
        </section>
        </article>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt=""width="100%">
        <section class="prueba">
        <div class="carrito">
            <i class="fa-solid fa-truck"></i>
        </div>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h5>Samsung Galaxy S10</h5>
        </section>
        </article>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-tv-samsung-smart.jpg" alt=""width="100%">
        <section class="prueba">
        <div class="carrito">
            <i class="fa-solid fa-truck"></i>
        </div>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <h5>SmartTv Samsung 43"</h5>
        </section>
        </article>
    </section>
    <section class="seccion__productos" >
        <h4>Sección de Ofertas</h4>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-cafetera-moulinex.jpg" alt=""width="100%">
            <section class="prueba">
                <div class="carrito">
                     <i class="fa-solid fa-truck"></i>
                </div>
                <P class="precio">$6.770</P>
                <P class="descuento">40% OFF</P>
                <h5>Cafetera Moulinex</h5>
            </section>
        </article>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-macbook-pro-2019.jpg" alt=""width="100%">
            <section class="prueba">
             <div class="carrito">
                 <i class="fa-solid fa-truck"></i>
             </div>
             <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
             <h5>MacBook Pro 2019</h5>
            </section>
        </article>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt=""width="100%">
         <section class="prueba">
            <div class="carrito">
                <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h5>Samsung Galaxy S10</h5>
         </section>
        </article>
        <article class="seccion__productos--titulo--tarjeta">
        <img src="/images/img-tv-samsung-smart.jpg" alt=""width="100%">
            <section class="prueba">
                <div class="carrito">
                 <i class="fa-solid fa-truck"></i>
                </div>
            <p class="precio">$23.200</p>
            <P class="descuento">5% OFF</li>
            <h5>SmartTv Samsung 43"</h5>
            </section>
        </article>
    </section>
</main>
<footer>
    <article>
    <p><i class="fa-solid fa-credit-card"></i></p>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <p><i class="fa-solid fa-gift"></i></p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <p><i class="fa-solid fa-user-shield"></i></p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
    <span>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </span>
</footer>
</body>
</html>